.tilde {
  .run {
    &.muted {
      color: var(--color-muted);
    }

    &.accent {
      color: var(--color-link);
    }

    &.error {
      color: var(--color-error);
    }

    &.success {
      color: var(--color-success);
    }

    &.code code {
      border: 1px solid var(--color-border);
      padding: 0 0.2em;
    }
  }

  .message .body code {
    border: 1px solid var(--color-border);
    padding: 0 0.2em;
  }
}
