.tilde {
  .text {
    &.title {
      font-weight: 700;
    }

    &.accent {
      color: var(--color-link);
    }

    &.muted,
    &.shortcut {
      color: var(--color-muted);
    }

    &.primary {
      color: var(--color-fg);
    }

    &.success {
      color: var(--color-success);
    }

    &.error {
      color: var(--color-error);
    }

    &.warning {
      color: var(--color-warning);
    }
  }
}
